html, body {
	background-color: black;
	color: gold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 72px;
	margin: 0;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 70vh;
}
